*.class
/TP1_HelloWorld/build/
/TP2_HelloWorld/nbproject/private/
/TP2_HelloWorld/build/
/TP2_HelloWorld/dist/
/TP4_GestionPersonnes/nbproject/private/
/TP4_GestionPersonnes/build/
/TP5_Horloge/nbproject/private/
/TP5_Horloge/build/
/TP5_HorlogeCorrSimon/nbproject/private/
/TP5_HorlogeCorrSimon/build/
/TP6_Horloge_MVC/nbproject/private/
/TP6_Horloge_MVC/build/